/*Mobile Friendly Form*/
html {
  line-height: 1.2em;
  font-family: arial;
  font-size: 16px;
}
header {
  background-color: teal;
  color: black;
  text-align: center;
}
body {
  background-color: silver;
  color: black;
}
footer {
  background-color: teal;
  color: black;
  text-align: center;
}
legend {
  text-align: center;
}
input {
  height: 30px;
  width: 100%
}
label {
  text-align: center;
}
 
