/*Mobile Friendly Form*/
html {
  line-height: 1.2em;
  font-family: arial;
  font-size: 18px;
}
header {
  background-color: teal;
  color: black;
  text-align: center;
  height:40px;
}
body {
  background-color: silver;
  color: black;
}
footer {
  background-color: teal;
  color: black;
  text-align: center;
  height: 40px; 
}
legend {
  text-align: center;
}
input {
  height: 25px;
  width: 100%;
}
label {
  text-align: center;
}

@media screen and (min-width: 992px) {
	header {
	  height: 80px;
	}
	footer {
	  height: 80px;
	}
	#submit {
	  width: 20em;
	  padding: 0em 0em 0em 35.8em;
	}
	#email {
	  width: 30em;
	}
	#phone {
	  width: 30em;
	}
	#birth {
	  width: 30em;
	}
	#wrap{
	  padding: 0em 0em 0em 35em;
	}
}